USE [QuanLyKho]
GO
/****** Object:  StoredProcedure [dbo].[xoanv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[xoanv]
GO
/****** Object:  StoredProcedure [dbo].[xoanhomhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[xoanhomhang]
GO
/****** Object:  StoredProcedure [dbo].[xoancc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[xoancc]
GO
/****** Object:  StoredProcedure [dbo].[xoakhachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[xoakhachhang]
GO
/****** Object:  StoredProcedure [dbo].[xoake]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[xoake]
GO
/****** Object:  StoredProcedure [dbo].[xoabophan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[xoabophan]
GO
/****** Object:  StoredProcedure [dbo].[thongtinvid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinvid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinsachid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinsachid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinsach3]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinsach3]
GO
/****** Object:  StoredProcedure [dbo].[thongtinsach2]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinsach2]
GO
/****** Object:  StoredProcedure [dbo].[thongtinsach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinsach]
GO
/****** Object:  StoredProcedure [dbo].[thongtinphieuxuatid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinphieuxuatid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinphieunhapid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinphieunhapid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinnv2]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinnv2]
GO
/****** Object:  StoredProcedure [dbo].[thongtinnv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinnv]
GO
/****** Object:  StoredProcedure [dbo].[thongtinnhacungcapid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinnhacungcapid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinncc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinncc]
GO
/****** Object:  StoredProcedure [dbo].[thongtinloaisachid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinloaisachid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinloaisach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinloaisach]
GO
/****** Object:  StoredProcedure [dbo].[thongtinkhachhangid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinkhachhangid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinkhachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinkhachhang]
GO
/****** Object:  StoredProcedure [dbo].[thongtinkeid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinkeid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinke]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinke]
GO
/****** Object:  StoredProcedure [dbo].[thongtinbophanid]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinbophanid]
GO
/****** Object:  StoredProcedure [dbo].[thongtinbophan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thongtinbophan]
GO
/****** Object:  StoredProcedure [dbo].[themtaikhoan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themtaikhoan]
GO
/****** Object:  StoredProcedure [dbo].[themsach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themsach]
GO
/****** Object:  StoredProcedure [dbo].[themphieuxuat]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themphieuxuat]
GO
/****** Object:  StoredProcedure [dbo].[themphieunhap]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themphieunhap]
GO
/****** Object:  StoredProcedure [dbo].[themnv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themnv]
GO
/****** Object:  StoredProcedure [dbo].[themnhomhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themnhomhang]
GO
/****** Object:  StoredProcedure [dbo].[themncc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themncc]
GO
/****** Object:  StoredProcedure [dbo].[themkhachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themkhachhang]
GO
/****** Object:  StoredProcedure [dbo].[themke]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[themke]
GO
/****** Object:  StoredProcedure [dbo].[thembophan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[thembophan]
GO
/****** Object:  StoredProcedure [dbo].[suataikhoan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suataikhoan]
GO
/****** Object:  StoredProcedure [dbo].[suasach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suasach]
GO
/****** Object:  StoredProcedure [dbo].[suaphieuxuat]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suaphieuxuat]
GO
/****** Object:  StoredProcedure [dbo].[suaphieunhap]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suaphieunhap]
GO
/****** Object:  StoredProcedure [dbo].[suanv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suanv]
GO
/****** Object:  StoredProcedure [dbo].[suanhomhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suanhomhang]
GO
/****** Object:  StoredProcedure [dbo].[suancc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suancc]
GO
/****** Object:  StoredProcedure [dbo].[suakhachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suakhachhang]
GO
/****** Object:  StoredProcedure [dbo].[suake]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suake]
GO
/****** Object:  StoredProcedure [dbo].[suabophan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[suabophan]
GO
/****** Object:  StoredProcedure [dbo].[searchsach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchsach]
GO
/****** Object:  StoredProcedure [dbo].[searchnv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchnv]
GO
/****** Object:  StoredProcedure [dbo].[searchncc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchncc]
GO
/****** Object:  StoredProcedure [dbo].[searchloaisach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchloaisach]
GO
/****** Object:  StoredProcedure [dbo].[searchkhachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchkhachhang]
GO
/****** Object:  StoredProcedure [dbo].[searchke]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchke]
GO
/****** Object:  StoredProcedure [dbo].[searchbophannv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[searchbophannv]
GO
/****** Object:  StoredProcedure [dbo].[phieuxuats]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[phieuxuats]
GO
/****** Object:  StoredProcedure [dbo].[phieuxuatnv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[phieuxuatnv]
GO
/****** Object:  StoredProcedure [dbo].[phieuxuatmkh]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[phieuxuatmkh]
GO
/****** Object:  StoredProcedure [dbo].[phieunhapmasach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[phieunhapmasach]
GO
/****** Object:  StoredProcedure [dbo].[phieunhapmanv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[phieunhapmanv]
GO
/****** Object:  StoredProcedure [dbo].[phieunhapmancc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[phieunhapmancc]
GO
/****** Object:  StoredProcedure [dbo].[laymk2]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[laymk2]
GO
/****** Object:  StoredProcedure [dbo].[laymk1]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[laymk1]
GO
/****** Object:  StoredProcedure [dbo].[kiemtrataikhoan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtrataikhoan]
GO
/****** Object:  StoredProcedure [dbo].[kiemtrasach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtrasach]
GO
/****** Object:  StoredProcedure [dbo].[kiemtraphieuxuat]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtraphieuxuat]
GO
/****** Object:  StoredProcedure [dbo].[kiemtraphieunhap]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtraphieunhap]
GO
/****** Object:  StoredProcedure [dbo].[kiemtranv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtranv]
GO
/****** Object:  StoredProcedure [dbo].[kiemtrancc]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtrancc]
GO
/****** Object:  StoredProcedure [dbo].[kiemtrakhachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtrakhachhang]
GO
/****** Object:  StoredProcedure [dbo].[kiemtrake]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemtrake]
GO
/****** Object:  StoredProcedure [dbo].[kiemnhomhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiemnhomhang]
GO
/****** Object:  StoredProcedure [dbo].[kiembophan]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[kiembophan]
GO
/****** Object:  StoredProcedure [dbo].[infophieuxuat]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[infophieuxuat]
GO
/****** Object:  StoredProcedure [dbo].[infophieunhap]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP PROCEDURE [dbo].[infophieunhap]
GO
ALTER TABLE [dbo].[sach] DROP CONSTRAINT [fk_sach_loaisach]
GO
ALTER TABLE [dbo].[sach] DROP CONSTRAINT [fk_sach_ke]
GO
ALTER TABLE [dbo].[sach] DROP CONSTRAINT [ck_sach_loaisach]
GO
ALTER TABLE [dbo].[sach] DROP CONSTRAINT [ck_sach_ke]
GO
ALTER TABLE [dbo].[phieuxuat] DROP CONSTRAINT [fk_phieuxuat_sach]
GO
ALTER TABLE [dbo].[phieuxuat] DROP CONSTRAINT [fk_phieuxuat_nhanvien]
GO
ALTER TABLE [dbo].[phieuxuat] DROP CONSTRAINT [fk_phieuxuat_khachhang]
GO
ALTER TABLE [dbo].[phieuxuat] DROP CONSTRAINT [ck_phieuxuat_s]
GO
ALTER TABLE [dbo].[phieuxuat] DROP CONSTRAINT [ck_phieuxuat_nv]
GO
ALTER TABLE [dbo].[phieuxuat] DROP CONSTRAINT [ck_phieuxuat_kh]
GO
ALTER TABLE [dbo].[phieunhap] DROP CONSTRAINT [fk_phieunhap_sach]
GO
ALTER TABLE [dbo].[phieunhap] DROP CONSTRAINT [fk_phieunhap_nhanvien]
GO
ALTER TABLE [dbo].[phieunhap] DROP CONSTRAINT [fk_phieunhap_nhacungcap]
GO
ALTER TABLE [dbo].[phieunhap] DROP CONSTRAINT [ck_phieunhap_s]
GO
ALTER TABLE [dbo].[phieunhap] DROP CONSTRAINT [ck_phieunhap_nv]
GO
ALTER TABLE [dbo].[phieunhap] DROP CONSTRAINT [ck_phieunhap_ncc]
GO
ALTER TABLE [dbo].[nhanvien] DROP CONSTRAINT [fk_nhanvien_bophannv]
GO
ALTER TABLE [dbo].[nhanvien] DROP CONSTRAINT [ck_nhanvien]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[sach]
GO
/****** Object:  Table [dbo].[phieuxuat]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[phieuxuat]
GO
/****** Object:  Table [dbo].[phieunhap]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[phieunhap]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[nhanvien]
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[nhacungcap]
GO
/****** Object:  Table [dbo].[loaisach]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[loaisach]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[khachhang]
GO
/****** Object:  Table [dbo].[ke]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[ke]
GO
/****** Object:  Table [dbo].[bophannv]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[bophannv]
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP TABLE [dbo].[account]
GO
/****** Object:  UserDefinedFunction [dbo].[laymk]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP FUNCTION [dbo].[laymk]
GO
USE [master]
GO
/****** Object:  Database [QuanLyKho]    Script Date: 12/9/2019 2:32:38 AM ******/
DROP DATABASE [QuanLyKho]
GO
/****** Object:  Database [QuanLyKho]    Script Date: 12/9/2019 2:32:38 AM ******/
CREATE DATABASE [QuanLyKho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyKho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyKho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKho]
GO
/****** Object:  UserDefinedFunction [dbo].[laymk]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- xác nhận đúng mật khẩu để đăng nhập :)) ;
create function [dbo].[laymk](@tendangnhap varchar(8))
		Returns varchar(8)
	Begin
		return(Select matkhau from account
		Where account.taikhoan=@tendangnhap);
	End;
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[idtk] [int] NOT NULL,
	[taikhoan] [varchar](8) NOT NULL,
	[matkhau] [varchar](8) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [pk_idtk] PRIMARY KEY CLUSTERED 
(
	[idtk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bophannv]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bophannv](
	[mabophan] [varchar](8) NOT NULL,
	[tenbophan] [varchar](20) NULL,
 CONSTRAINT [pk_bophannv] PRIMARY KEY CLUSTERED 
(
	[mabophan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ke]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ke](
	[make] [varchar](8) NOT NULL,
	[tenke] [varchar](20) NULL,
 CONSTRAINT [pk_ke] PRIMARY KEY CLUSTERED 
(
	[make] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makhachhang] [varchar](8) NOT NULL,
	[tenkhachhang] [varchar](20) NOT NULL,
	[sex] [varchar](10) NULL,
	[diachi] [varchar](20) NULL,
 CONSTRAINT [pk_khachhang] PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisach]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisach](
	[tenloaisach] [varchar](8) NOT NULL,
 CONSTRAINT [pk_loaisach] PRIMARY KEY CLUSTERED 
(
	[tenloaisach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 12/9/2019 2:32:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[mancc] [varchar](8) NOT NULL,
	[tenncc] [varchar](20) NOT NULL,
	[diachincc] [varchar](20) NOT NULL,
	[sotk] [varchar](12) NULL,
 CONSTRAINT [pk_nhacungcap] PRIMARY KEY CLUSTERED 
(
	[mancc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 12/9/2019 2:32:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manhanvien] [varchar](8) NOT NULL,
	[tennhanvien] [varchar](20) NOT NULL,
	[diachi] [varchar](20) NULL,
	[sex] [varchar](10) NULL,
	[mabophan] [varchar](8) NOT NULL,
 CONSTRAINT [pk_nhanvien] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieunhap]    Script Date: 12/9/2019 2:32:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieunhap](
	[maphieunhap] [varchar](8) NOT NULL,
	[ngaynhap] [date] NOT NULL,
	[manhanvien] [varchar](8) NOT NULL,
	[masach] [varchar](8) NOT NULL,
	[soluong] [int] NULL,
	[mancc] [varchar](8) NOT NULL,
 CONSTRAINT [pk_phieunhap] PRIMARY KEY CLUSTERED 
(
	[maphieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuxuat]    Script Date: 12/9/2019 2:32:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuxuat](
	[maphieuxuat] [varchar](8) NOT NULL,
	[ngayxuat] [date] NOT NULL,
	[manhanvien] [varchar](8) NOT NULL,
	[masach] [varchar](8) NOT NULL,
	[soluong] [int] NULL,
	[makhachhang] [varchar](8) NOT NULL,
	[trangthai] [varchar](20) NOT NULL,
 CONSTRAINT [pk_phieuxuat] PRIMARY KEY CLUSTERED 
(
	[maphieuxuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 12/9/2019 2:32:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [varchar](8) NOT NULL,
	[tensach] [varchar](40) NULL,
	[tenloaisach] [varchar](8) NOT NULL,
	[soluong] [int] NULL,
	[make] [varchar](8) NOT NULL,
 CONSTRAINT [pk_sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([idtk], [taikhoan], [matkhau], [type]) VALUES (1, N'Hoadt', N'1234', 1)
INSERT [dbo].[account] ([idtk], [taikhoan], [matkhau], [type]) VALUES (2, N'DatG', N'4444', 1)
INSERT [dbo].[account] ([idtk], [taikhoan], [matkhau], [type]) VALUES (3, N'HaiTac', N'6665', 0)
INSERT [dbo].[bophannv] ([mabophan], [tenbophan]) VALUES (N'BP01', N'Thu Kho')
INSERT [dbo].[bophannv] ([mabophan], [tenbophan]) VALUES (N'BP02', N'Xu ly')
INSERT [dbo].[ke] ([make], [tenke]) VALUES (N'KE001', N'Ke01')
INSERT [dbo].[ke] ([make], [tenke]) VALUES (N'KE002', N'Ke02')
INSERT [dbo].[ke] ([make], [tenke]) VALUES (N'KE003', N'Ke03')
INSERT [dbo].[khachhang] ([makhachhang], [tenkhachhang], [sex], [diachi]) VALUES (N'KH111', N'Vo Quoc Tuan', N'nam', N'Duc Linh')
INSERT [dbo].[khachhang] ([makhachhang], [tenkhachhang], [sex], [diachi]) VALUES (N'KH112', N'Tien Hoa', N'nam', N'Ham Tan')
INSERT [dbo].[khachhang] ([makhachhang], [tenkhachhang], [sex], [diachi]) VALUES (N'KH113', N'Quan AP', N'nam', N'Ha Noi')
INSERT [dbo].[loaisach] ([tenloaisach]) VALUES (N'GiaDinh')
INSERT [dbo].[loaisach] ([tenloaisach]) VALUES (N'ThamKhao')
INSERT [dbo].[loaisach] ([tenloaisach]) VALUES (N'ThienVan')
INSERT [dbo].[nhacungcap] ([mancc], [tenncc], [diachincc], [sotk]) VALUES (N'NCC111', N'Quoc Dat', N'Binh Thuan', N'7456345758')
INSERT [dbo].[nhacungcap] ([mancc], [tenncc], [diachincc], [sotk]) VALUES (N'NCC112', N'Tien Hoa', N'Binh Thuan', N'7456345743')
INSERT [dbo].[nhacungcap] ([mancc], [tenncc], [diachincc], [sotk]) VALUES (N'NCC113', N'Binh Tuy', N'Dong Nai', N'7456345111')
INSERT [dbo].[nhanvien] ([manhanvien], [tennhanvien], [diachi], [sex], [mabophan]) VALUES (N'NV01', N'Son Tung MTP', N'Ben Tre', N'Nam', N'BP02')
INSERT [dbo].[nhanvien] ([manhanvien], [tennhanvien], [diachi], [sex], [mabophan]) VALUES (N'NV02', N'Ly Hai', N'Tien Giang', N'Nu', N'BP01')
INSERT [dbo].[nhanvien] ([manhanvien], [tennhanvien], [diachi], [sex], [mabophan]) VALUES (N'NV03', N'Chau Khai Phong', N'Ben Tre', N'Nam', N'BP02')
INSERT [dbo].[phieunhap] ([maphieunhap], [ngaynhap], [manhanvien], [masach], [soluong], [mancc]) VALUES (N'PN001', CAST(N'2019-10-24' AS Date), N'NV01', N'S0003', 2, N'NCC111')
INSERT [dbo].[phieunhap] ([maphieunhap], [ngaynhap], [manhanvien], [masach], [soluong], [mancc]) VALUES (N'PN002', CAST(N'2019-12-06' AS Date), N'NV04', N'S0001', 3, N'NCC112')
INSERT [dbo].[phieunhap] ([maphieunhap], [ngaynhap], [manhanvien], [masach], [soluong], [mancc]) VALUES (N'PN003', CAST(N'2019-07-10' AS Date), N'NV04', N'S0002', 1, N'NCC114')
INSERT [dbo].[phieuxuat] ([maphieuxuat], [ngayxuat], [manhanvien], [masach], [soluong], [makhachhang], [trangthai]) VALUES (N'PX001', CAST(N'2019-11-24' AS Date), N'NV01', N'S0003', 2, N'KH113', N'Da xu ly')
INSERT [dbo].[phieuxuat] ([maphieuxuat], [ngayxuat], [manhanvien], [masach], [soluong], [makhachhang], [trangthai]) VALUES (N'PX002', CAST(N'2019-12-10' AS Date), N'NV04', N'S0001', 3, N'KH112', N'Chua xu ly')
INSERT [dbo].[phieuxuat] ([maphieuxuat], [ngayxuat], [manhanvien], [masach], [soluong], [makhachhang], [trangthai]) VALUES (N'PX003', CAST(N'2019-08-10' AS Date), N'NV04', N'S0002', 1, N'KH114', N'Da xu ly')
INSERT [dbo].[sach] ([masach], [tensach], [tenloaisach], [soluong], [make]) VALUES (N'S0001', N'Toi Thay Hoa Vang tren Co Xanh', N'ThienVan', 105, N'KE001')
INSERT [dbo].[sach] ([masach], [tensach], [tenloaisach], [soluong], [make]) VALUES (N'S0002', N'Bai Tap Vat Ly 2', N'ThamKhao', 87, N'KE002')
INSERT [dbo].[sach] ([masach], [tensach], [tenloaisach], [soluong], [make]) VALUES (N'S0003', N'Bai Tap Toan 1', N'ThamKhao', 34, N'KE002')
ALTER TABLE [dbo].[nhanvien]  WITH CHECK ADD  CONSTRAINT [ck_nhanvien] FOREIGN KEY([mabophan])
REFERENCES [dbo].[bophannv] ([mabophan])
GO
ALTER TABLE [dbo].[nhanvien] CHECK CONSTRAINT [ck_nhanvien]
GO
ALTER TABLE [dbo].[nhanvien]  WITH NOCHECK ADD  CONSTRAINT [fk_nhanvien_bophannv] FOREIGN KEY([mabophan])
REFERENCES [dbo].[bophannv] ([mabophan])
GO
ALTER TABLE [dbo].[nhanvien] CHECK CONSTRAINT [fk_nhanvien_bophannv]
GO
ALTER TABLE [dbo].[phieunhap]  WITH CHECK ADD  CONSTRAINT [ck_phieunhap_ncc] FOREIGN KEY([mancc])
REFERENCES [dbo].[nhacungcap] ([mancc])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [ck_phieunhap_ncc]
GO
ALTER TABLE [dbo].[phieunhap]  WITH CHECK ADD  CONSTRAINT [ck_phieunhap_nv] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [ck_phieunhap_nv]
GO
ALTER TABLE [dbo].[phieunhap]  WITH CHECK ADD  CONSTRAINT [ck_phieunhap_s] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [ck_phieunhap_s]
GO
ALTER TABLE [dbo].[phieunhap]  WITH NOCHECK ADD  CONSTRAINT [fk_phieunhap_nhacungcap] FOREIGN KEY([mancc])
REFERENCES [dbo].[nhacungcap] ([mancc])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [fk_phieunhap_nhacungcap]
GO
ALTER TABLE [dbo].[phieunhap]  WITH NOCHECK ADD  CONSTRAINT [fk_phieunhap_nhanvien] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [fk_phieunhap_nhanvien]
GO
ALTER TABLE [dbo].[phieunhap]  WITH NOCHECK ADD  CONSTRAINT [fk_phieunhap_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[phieunhap] CHECK CONSTRAINT [fk_phieunhap_sach]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH CHECK ADD  CONSTRAINT [ck_phieuxuat_kh] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[khachhang] ([makhachhang])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [ck_phieuxuat_kh]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH CHECK ADD  CONSTRAINT [ck_phieuxuat_nv] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [ck_phieuxuat_nv]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH CHECK ADD  CONSTRAINT [ck_phieuxuat_s] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [ck_phieuxuat_s]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH NOCHECK ADD  CONSTRAINT [fk_phieuxuat_khachhang] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[khachhang] ([makhachhang])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [fk_phieuxuat_khachhang]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH NOCHECK ADD  CONSTRAINT [fk_phieuxuat_nhanvien] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [fk_phieuxuat_nhanvien]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH NOCHECK ADD  CONSTRAINT [fk_phieuxuat_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [fk_phieuxuat_sach]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [ck_sach_ke] FOREIGN KEY([make])
REFERENCES [dbo].[ke] ([make])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [ck_sach_ke]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [ck_sach_loaisach] FOREIGN KEY([tenloaisach])
REFERENCES [dbo].[loaisach] ([tenloaisach])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [ck_sach_loaisach]
GO
ALTER TABLE [dbo].[sach]  WITH NOCHECK ADD  CONSTRAINT [fk_sach_ke] FOREIGN KEY([make])
REFERENCES [dbo].[ke] ([make])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [fk_sach_ke]
GO
ALTER TABLE [dbo].[sach]  WITH NOCHECK ADD  CONSTRAINT [fk_sach_loaisach] FOREIGN KEY([tenloaisach])
REFERENCES [dbo].[loaisach] ([tenloaisach])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [fk_sach_loaisach]
GO
/****** Object:  StoredProcedure [dbo].[infophieunhap]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------------------

---------------------------------PHIEUNHAP--------------------------------
-- xem tất cả  thông tin của nhiều phiếu nhập
 create proc  [dbo].[infophieunhap]
as
	select *from phieunhap
GO
/****** Object:  StoredProcedure [dbo].[infophieuxuat]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------------------------
---------------------------------PHIEUXUAT-----------------------------------
-- lấy thông tin từ phiếu xuất
create proc  [dbo].[infophieuxuat]
as
	select *from phieuxuat
GO
/****** Object:  StoredProcedure [dbo].[kiembophan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--kiem tra truoc khi them vao
create proc [dbo].[kiembophan](@mabophan varchar(8))
as
	select * from bophannv where mabophan=@mabophan
GO
/****** Object:  StoredProcedure [dbo].[kiemnhomhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--kiem tra truoc khi them vao
 create proc [dbo].[kiemnhomhang](@tennhomhang varchar(8))
as
	select * from loaisach where tenloaisach = @tennhomhang
GO
/****** Object:  StoredProcedure [dbo].[kiemtrake]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--kiem tra truoc khi them vao
create proc [dbo].[kiemtrake](@make varchar(8))
as
	select * from ke where make =@make
GO
/****** Object:  StoredProcedure [dbo].[kiemtrakhachhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--kiem tra truoc khi them vao
create proc [dbo].[kiemtrakhachhang](@makhachhang varchar(8))
as
	select * from khachhang where  makhachhang=@makhachhang
GO
/****** Object:  StoredProcedure [dbo].[kiemtrancc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--kiem tra truoc khi them vao
create proc [dbo].[kiemtrancc](@mancc varchar(8))
as
	select * from nhacungcap where mancc=@mancc
GO
/****** Object:  StoredProcedure [dbo].[kiemtranv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--kiem tra truoc khi them vao
create proc [dbo].[kiemtranv](@manhanvien varchar(8))
as
	select * from nhanvien where manhanvien=@manhanvien
GO
/****** Object:  StoredProcedure [dbo].[kiemtraphieunhap]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--kiểm tra xem có giá trị trả về không nếu có thì đã tồn tại chưa trước khi lập phiếu nhập
create proc [dbo].[kiemtraphieunhap](@maphieunhap varchar(8))
as
	select *from phieunhap where maphieunhap=@maphieunhap
GO
/****** Object:  StoredProcedure [dbo].[kiemtraphieuxuat]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- kiểm tra trước khi lập phiếu xuất
create proc [dbo].[kiemtraphieuxuat](@maphieuxuat varchar(8))
as
	select *from phieuxuat where maphieuxuat=@maphieuxuat
GO
/****** Object:  StoredProcedure [dbo].[kiemtrasach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--kiem tra truoc khi them
create proc [dbo].[kiemtrasach](@idsach varchar(8))
as
	select * from sach where masach= @idsach
GO
/****** Object:  StoredProcedure [dbo].[kiemtrataikhoan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 -- kiểm tra trước khi thêm tài khoản nếu có tài khoản đó rôi thì thêm bị lỗi :)))
create proc [dbo].[kiemtrataikhoan] @taikhoan varchar(8)
as
	select * from account where taikhoan=@taikhoan
GO
/****** Object:  StoredProcedure [dbo].[laymk1]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create proc [dbo].[laymk1] @tendangnhap varchar(8),@matkhau varchar(8)
as 
	select * from account where taikhoan=@tendangnhap and matkhau=@matkhau
GO
/****** Object:  StoredProcedure [dbo].[laymk2]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--xác nhận loại mật khẩu
create proc [dbo].[laymk2] @tendangnhap varchar(8),@matkhau varchar(8), @type int
as 
	select * from account where taikhoan=@tendangnhap and matkhau=@matkhau and type = @type
GO
/****** Object:  StoredProcedure [dbo].[phieunhapmancc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma nha cung cap
create proc  [dbo].[phieunhapmancc]
as
	select mancc from nhacungcap
GO
/****** Object:  StoredProcedure [dbo].[phieunhapmanv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma nhan vien
create proc  [dbo].[phieunhapmanv]
as
	select manhanvien from nhanvien
GO
/****** Object:  StoredProcedure [dbo].[phieunhapmasach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma sach
create proc  [dbo].[phieunhapmasach]
as
	select masach from sach
GO
/****** Object:  StoredProcedure [dbo].[phieuxuatmkh]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma khach hang
create proc  [dbo].[phieuxuatmkh]
as
	select makhachhang from khachhang
GO
/****** Object:  StoredProcedure [dbo].[phieuxuatnv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma nhan vien
create proc  [dbo].[phieuxuatnv]
as
	select manhanvien from nhanvien
GO
/****** Object:  StoredProcedure [dbo].[phieuxuats]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma sach
create proc  [dbo].[phieuxuats]
as
	select masach from sach
GO
/****** Object:  StoredProcedure [dbo].[searchbophannv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchbophannv] @id varchar(8)
as
	select * from bophannv where mabophan=@id
GO
/****** Object:  StoredProcedure [dbo].[searchke]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                   
create proc [dbo].[searchke] @id varchar(8)
as
	select * from ke where make=@id
GO
/****** Object:  StoredProcedure [dbo].[searchkhachhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                   
create proc [dbo].[searchkhachhang] @id varchar(8)
as
	select * from khachhang where makhachhang=@id
GO
/****** Object:  StoredProcedure [dbo].[searchloaisach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchloaisach] @id varchar(8)
as
	select * from loaisach where tenloaisach=@id
GO
/****** Object:  StoredProcedure [dbo].[searchncc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[searchncc] @id varchar(8)
as
	select * from nhacungcap where mancc=@id
GO
/****** Object:  StoredProcedure [dbo].[searchnv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[searchnv] @id varchar(8)
as
	select * from nhanvien where manhanvien=@id
GO
/****** Object:  StoredProcedure [dbo].[searchsach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[searchsach] @id varchar(8)
as
	select * from sach where masach=@id
GO
/****** Object:  StoredProcedure [dbo].[suabophan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- chinh sua bo phận
create proc [dbo].[suabophan] @mabophan varchar(8),@tenbophan varchar(20)
as
	begin
		update bophannv set
		tenbophan= @tenbophan where mabophan=@mabophan
	end
GO
/****** Object:  StoredProcedure [dbo].[suake]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- chinh sua ke
create proc [dbo].[suake] @make varchar(8),@tenke varchar(20)
as
	begin
		update ke set
		tenke= @tenke where make=@make
	end
GO
/****** Object:  StoredProcedure [dbo].[suakhachhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- chinh sua khachhang
create proc [dbo].[suakhachhang] @makhachhang varchar(8),@tenkhachhang varchar(20),@sex varchar(10), @diachi  varchar(20)
as
	begin
		update khachhang set
		tenkhachhang= @tenkhachhang,sex=@sex,diachi=@diachi where makhachhang=@makhachhang
	end
GO
/****** Object:  StoredProcedure [dbo].[suancc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sửa nhà cung cấp
create proc [dbo].[suancc] @mancc varchar(8),@tenncc varchar(20),@diachincc varchar(20),@sotk varchar(12)
as
	begin
		update nhacungcap set tenncc= @tenncc,
		diachincc= @diachincc,sotk= @sotk where mancc=@mancc
	end
GO
/****** Object:  StoredProcedure [dbo].[suanhomhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- chinh sua
create proc [dbo].[suanhomhang] @tennhomhang varchar(8)
as
	begin
		update loaisach set
		tenloaisach= @tennhomhang
	end
GO
/****** Object:  StoredProcedure [dbo].[suanv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sửa nhân viên
create proc [dbo].[suanv] (@manhanvien varchar(8),@tennhanvien varchar(20),@diachinhanvien varchar(20),@sex varchar(12),@mabophannv varchar(12))
as
	begin
		update nhanvien set tennhanvien= @tennhanvien,
		diachi= @diachinhanvien,sex = @sex , mabophan = @mabophannv where manhanvien=@manhanvien
	end
GO
/****** Object:  StoredProcedure [dbo].[suaphieunhap]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--sửa phiếu nhập
create proc [dbo].[suaphieunhap](@maphieunhap varchar(8), @ngaynhap date,@mathukho varchar(8),@mahang varchar(8),
	@soluong int,@mancc varchar(8))
	as
		begin
			IF	@maphieunhap = '' THROW 50001, 'Mã phiếu nhập không được để trống!', 1;
			IF	@mahang = '' THROW 50001, 'Mã  sách không được để trống!', 1;
			IF	@mathukho='' THROW 50001, 'Mã nhân viên không được để trống!', 1;
			IF	@ngaynhap ='' THROW 50001, 'Ngày không được để trống!', 1;
			update phieunhap set ngaynhap= @ngaynhap,
			manhanvien=@mathukho,masach= @mahang, soluong= @soluong, mancc= @mancc  where maphieunhap=@maphieunhap
		end
GO
/****** Object:  StoredProcedure [dbo].[suaphieuxuat]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sửa phiếu xuất
create proc [dbo].[suaphieuxuat](@maphieuxuat varchar(8),@ngayxuat date,@mathukho varchar(8),@mahang varchar(8),
	@soluong int,@makhachhang varchar(8),@trangthai varchar(20))
	as
		begin
			IF	@soluong>(SELECT soluong FROM sach WHERE masach=@mahang) THROW 50001,'Số lượng hàng trong kho không đủ!',1;
			IF	@maphieuxuat = '' THROW 50001, 'Mã phiếu xuất không được để trống!', 1;
			IF	@makhachhang = '' THROW 50001, 'Mã khách hàng không được để trống!', 1;
			IF	@mathukho='' THROW 50001, 'Mã thủ kho không được để trống!', 1;
			IF	@ngayxuat ='' THROW 50001, 'Ngày không được để trống!', 1;
			IF	@trangthai ='' THROW 50001, 'Trạng thái không được để trống!', 1;
			update phieuxuat set ngayxuat= @ngayxuat,
			manhanvien=@mathukho,soluong=@soluong,makhachhang=@makhachhang,trangthai=@trangthai where maphieuxuat=@maphieuxuat
		end
GO
/****** Object:  StoredProcedure [dbo].[suasach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sửa sách
create proc [dbo].[suasach]         
    @idsach varchar(8),
	@tensach nvarchar(20),
	@loaisach nvarchar(8),
	@make nvarchar(8)
as
	begin
		begin try
			begin tran
				update sach
				set 
				tensach= @tensach,
				tenloaisach= @loaisach,
				make=@make
				where masach=@idsach
			commit tran
			print 'Sửa thành công';
		end try
		begin catch
			rollback tran
			print 'lỗi rồi';
		end catch
	end
GO
/****** Object:  StoredProcedure [dbo].[suataikhoan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[suataikhoan](@ten varchar(8) ,@matkhau varchar(8))
as
   update account 
          set matkhau=@matkhau where taikhoan=@ten
GO
/****** Object:  StoredProcedure [dbo].[thembophan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- thêm vào 
create proc [dbo].[thembophan](@mabophan varchar(8),@tenbophan varchar(20))
as
	insert into bophannv values(@mabophan,@tenbophan)
GO
/****** Object:  StoredProcedure [dbo].[themke]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- thêm vào 
create proc [dbo].[themke](@make varchar(8),@tenke varchar(20))
as
	insert into ke values(@make,@tenke)
GO
/****** Object:  StoredProcedure [dbo].[themkhachhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- thêm vào 
create proc [dbo].[themkhachhang](@makhachhang varchar(8),@tenkhachhang varchar(20),@sex varchar(10), @diachi  varchar(20))
as
	insert into khachhang values(@makhachhang,@tenkhachhang,@sex,@diachi)
GO
/****** Object:  StoredProcedure [dbo].[themncc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- thêm nhà cung cấp
create proc [dbo].[themncc](@mancc varchar(8),@tenncc varchar(20),@diachincc varchar(20),@sotk varchar(12))
as
	insert into nhacungcap values(@mancc,@tenncc,@diachincc,@sotk)
GO
/****** Object:  StoredProcedure [dbo].[themnhomhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- thêm vào 
create proc [dbo].[themnhomhang](@tennhomhang varchar(8))
as
	insert into loaisach values(@tennhomhang)
GO
/****** Object:  StoredProcedure [dbo].[themnv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- thêm nhân viên
create proc [dbo].[themnv](@manhanvien varchar(8),@tennhanvien varchar(20),@diachinhanvien varchar(20),@sex varchar(12),@mabophannv varchar(12))
as
	insert into nhanvien values(@manhanvien,@tennhanvien,@diachinhanvien,@sex, @mabophannv)
GO
/****** Object:  StoredProcedure [dbo].[themphieunhap]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----thêm phiếu nhập
create proc [dbo].[themphieunhap](@maphieunhap varchar(8),@ngaynhap date,@mathukho varchar(8),@mahang varchar(8),
	@soluong int,@mancc varchar(8))
	as
		begin
			IF	@maphieunhap = '' THROW 50001, 'Mã phiếu nhập không được để trống!', 1;
			IF	@mahang = '' THROW 50001, 'Mã  sách không được để trống!', 1;
			IF	@mathukho='' THROW 50001, 'Mã nhân viên không được để trống!', 1;
			IF	@ngaynhap ='' THROW 50001, 'Ngày không được để trống!', 1;
			insert into phieunhap values(@maphieunhap,@ngaynhap,@mathukho,@mahang,@soluong,@mancc)
		end
GO
/****** Object:  StoredProcedure [dbo].[themphieuxuat]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- thêm phiếu xuất 
create proc [dbo].[themphieuxuat](@maphieuxuat varchar(8),@ngayxuat date,@mathukho varchar(8),@mahang varchar(8),
	@soluong int,@makhachhang varchar(8),@trangthai varchar(20))
	as
		begin
			IF	@soluong>(SELECT soluong FROM sach WHERE masach=@mahang) THROW 50001,'Số lượng hàng trong kho không đủ!',1;
			IF	@maphieuxuat = '' THROW 50001, 'Mã phiếu xuất không được để trống!', 1;
			IF	@makhachhang = '' THROW 50001, 'Mã khách hàng không được để trống!', 1;
			IF	@mathukho='' THROW 50001, 'Mã thủ kho không được để trống!', 1;
			IF	@ngayxuat ='' THROW 50001, 'Ngày không được để trống!', 1;
			IF	@trangthai ='' THROW 50001, 'Trạng thái không được để trống!', 1;
			insert into phieuxuat values(@maphieuxuat,@ngayxuat,@mathukho,@mahang,@soluong,@makhachhang,@trangthai)
		end
GO
/****** Object:  StoredProcedure [dbo].[themsach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--thêm sách
create proc [dbo].[themsach]
	@idsach nvarchar(8),
	@tensach nvarchar(20),
	@loaisach nvarchar(8),
	@make nvarchar(8)
as
	begin
	
		begin try
			begin tran
			declare @soluong int
			  set @soluong =0
				insert into sach
				values(@idsach,	@tensach,
						@loaisach,@soluong,
						@make)
			commit tran
			print 'Thêm thành công';
		end try
		begin catch
			rollback tran
			print 'lỗi rồi';
		end catch
	end
GO
/****** Object:  StoredProcedure [dbo].[themtaikhoan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- neu  có giá trị thì them ko dc ,tài khoản đã tồn tại ,còn ko , thì insert

--thực thi để thêm tài khoản sau khi đã xác nhận xong
create proc [dbo].[themtaikhoan](@idtk int,@taikhoan varchar(8),@matkhau varchar(8),@type int)
as
	insert into account values(@idtk,@taikhoan,@matkhau,@type)
GO
/****** Object:  StoredProcedure [dbo].[thongtinbophan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------
-------------------------Bộ Phận Nhân Viên------------------------------
	
--thông tin bộ phận
create proc [dbo].[thongtinbophan]
as
	select * from  bophannv
GO
/****** Object:  StoredProcedure [dbo].[thongtinbophanid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinbophanid] @idbophan varchar(8)
as
	select * from  bophannv where mabophan=@idbophan
GO
/****** Object:  StoredProcedure [dbo].[thongtinke]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------------
--------------------------KỆ SÁCH--------------------------------
	
--thông tin kệ
create proc [dbo].[thongtinke]
as
	select * from  ke
GO
/****** Object:  StoredProcedure [dbo].[thongtinkeid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinkeid] @idsach varchar(8)
as
	select * from  ke where make=@idsach
GO
/****** Object:  StoredProcedure [dbo].[thongtinkhachhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------
-------------------KHÁCH HÀNG--------------------------

--thông tin khachhang
create proc [dbo].[thongtinkhachhang]
as
	select * from  khachhang
GO
/****** Object:  StoredProcedure [dbo].[thongtinkhachhangid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinkhachhangid] @idkh varchar(8)
as
	select * from  khachhang where makhachhang=@idkh
GO
/****** Object:  StoredProcedure [dbo].[thongtinloaisach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------
--------------------LOẠI SÁCH--------------------------------
	
--thông tin 
create proc [dbo].[thongtinloaisach]
as
	select * from  loaisach
GO
/****** Object:  StoredProcedure [dbo].[thongtinloaisachid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinloaisachid] @idsach varchar(8)
as
	select * from  loaisach where tenloaisach=@idsach
GO
/****** Object:  StoredProcedure [dbo].[thongtinncc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec dbo.themnv 'NV06','Pham Quynh Anh','Tien Giang','Nu','BP01'

-----------------------------------------------------------------


-----------------------------NHÀ CUNG CẤP----------------------------------

-- tra cứu thông tin nha cung cấp
create proc [dbo].[thongtinncc]
as
	select * from  nhacungcap
GO
/****** Object:  StoredProcedure [dbo].[thongtinnhacungcapid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinnhacungcapid] @idsach varchar(8)
as
	select * from  nhacungcap where mancc=@idsach
GO
/****** Object:  StoredProcedure [dbo].[thongtinnv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------

-----------------------------NHÂN VIÊN----------------------------------

-- tra cứu thông tin nhân viên
create proc [dbo].[thongtinnv]
as
	select * from  nhanvien
GO
/****** Object:  StoredProcedure [dbo].[thongtinnv2]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[thongtinnv2]
as
	select mabophan from  bophannv
GO
/****** Object:  StoredProcedure [dbo].[thongtinphieunhapid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[thongtinphieunhapid] @idsach varchar(8)
as
	select * from  phieunhap where maphieunhap=@idsach
GO
/****** Object:  StoredProcedure [dbo].[thongtinphieuxuatid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinphieuxuatid] @idsach varchar(8)
as
	select * from  phieuxuat where maphieuxuat=@idsach
GO
/****** Object:  StoredProcedure [dbo].[thongtinsach]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------
---------------------------SÁCH------------------------------

--lays thong tin
create proc [dbo].[thongtinsach]
as
	select * from  sach
GO
/****** Object:  StoredProcedure [dbo].[thongtinsach2]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma loai sach
create proc [dbo].[thongtinsach2]
as
	select tenloaisach from  loaisach
GO
/****** Object:  StoredProcedure [dbo].[thongtinsach3]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay ma ke
create proc [dbo].[thongtinsach3]
as
	select make from  ke
GO
/****** Object:  StoredProcedure [dbo].[thongtinsachid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--lay theo id
create proc [dbo].[thongtinsachid] @idsach varchar(8)
as
	select * from  sach where masach=@idsach
GO
/****** Object:  StoredProcedure [dbo].[thongtinvid]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[thongtinvid] @idmanv varchar(8)
as
	select * from  nhanvien where manhanvien=@idmanv
GO
/****** Object:  StoredProcedure [dbo].[xoabophan]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- xoa bo phan
create proc [dbo].[xoabophan] @mabophan varchar(8)
as
	begin
		delete  from bophannv where mabophan=@mabophan
	end
GO
/****** Object:  StoredProcedure [dbo].[xoake]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- xoa ke
create proc [dbo].[xoake] @make varchar(8)
as
	begin
		delete  from ke where make=@make
	end
GO
/****** Object:  StoredProcedure [dbo].[xoakhachhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- xoa khachhang
create proc [dbo].[xoakhachhang] @makhachhang varchar(8)
as
	begin
		delete  from khachhang where makhachhang=@makhachhang
	end
GO
/****** Object:  StoredProcedure [dbo].[xoancc]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[xoancc] @mancc varchar(8)
as
	begin
		delete  from nhacungcap where mancc=@mancc
	end
GO
/****** Object:  StoredProcedure [dbo].[xoanhomhang]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- xoa 
create proc [dbo].[xoanhomhang] @tennhomhang varchar(8)
as
	begin
		delete  from loaisach where tenloaisach=@tennhomhang
	end
GO
/****** Object:  StoredProcedure [dbo].[xoanv]    Script Date: 12/9/2019 2:32:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[xoanv] @manhanvien varchar(8)
as
	begin
		delete  from nhanvien where manhanvien=@manhanvien
	end
GO
USE [master]
GO
